.skeleton {
    --skeleton-width: 579px;
    --skeleton-height: 192px;
    --skeleton-circle-size: 64px;
    --skeleton-line-height: 20px;
    --skeleton-line-primary-width: 30%;
    --skeleton-line-secondary-width: 44%;
    --skeleton-line-description-width: 89%;

    background: var(--white);
    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    border-radius: 8px;

    max-width: var(--skeleton-width);
    height: var(--skeleton-height);
    padding: 24px;
}

.skeleton__element {
    background: linear-gradient(92.51deg, var(--grey-2) 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, var(--grey-2) 102.52%);
}

.skeleton__container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.skeleton__main-box {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.skeleton__main-title-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    width: 100%;
}

.skeleton__description-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.skeleton__circle {
    background: var(--grey-2);
    border-radius: 50%;

    width: var(--skeleton-circle-size);
    height: var(--skeleton-circle-size);
}

.skeleton__line_primary-title {
    width: var(--skeleton-line-primary-width);
    height: var(--skeleton-line-height);
}

.skeleton__line_secondary-title {
    width: var(--skeleton-line-secondary-width);
    height: var(--skeleton-line-height);
}

.skeleton__line-description {
    width: var(--skeleton-line-description-width);
    height: var(--skeleton-line-height);
}
