.tooltip {
    display: inline-block;

    position: relative;
}

.tooltip__bubble {
    display: none;

    position: absolute;
    bottom: 100%;
    left: 50%;

    color: var(--grey-2);
    background: var(--blue-1);
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 10px;
    text-align: center;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    padding: 13px 21px 8px;

    transform: translate(-50%, -20px);
}

.tooltip__bubble:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%; 
    border: 14px solid transparent;
    border-top: 6px solid var(--blue-1);
    transform: translateX(-50%);
}

.tooltip__icon {
    cursor: pointer;
    width: 22px;
    height: 22px;
}

.tooltip__icon:hover ~ .tooltip__bubble {
    display: inline-block;
}
