.main {
    --sidebar-width: 229px;

    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 56px;

    padding: 35px 165px;

    background: var(--white-1);
}

.sidebar {
    width: var(--sidebar-width);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.controls__viewer {
    background: var(--white);
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;

    padding: 32px 48px;
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.controls__title {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;

    color: var(--black-1);
}

.controls__list {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.controls__item {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;

    color: var(--black);
}

.controls__item_selected {
    color: var(--orange);
}

.site-navigation__link-to-main-page {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;

    color: var(--black);
}

@media screen and (max-width: 1140px) {
    .main {
        grid-template-columns: 1fr;
        /* grid-template-rows: 1fr; */ /* TODO: хотел расстянуть на весь экран по высоте, не получилось */
        column-gap: 0;

        padding: 32px 16px;
    }

    .sidebar {
        display: none;
    }

    .controls__viewer {
        padding: 0;
    }
}