.picture {
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

/*!!! INFO: важен порядок @media для max-width от большего к меньшему иначе работать не будет.*/

@media screen and (max-width: 2560px) {
    .picture {
        background-image: url("./public/forest_2560.jpg");
    }
}

@media screen and (max-width: 1024px) {
    .picture {
        background-image: url("./public/forest_1024.jpg");
    }
}

@media screen and (max-width: 768px) {
    .picture {
        background-image: url("./public/forest_768.jpg");
    }
}

@media screen and (max-width: 400px) {
    .picture {
        background-image: url("./public/forest_400.jpg");
    }
}
