.preview {
    --preview-fon: var(--white-1);
    --preview-top-indent: 68px;
    --preview-bottom-indent: 15px;
    --preview-gap-between-cards: 30px;

    flex-grow: 1;
    background: var(--preview-fon);
    padding-top: var(--preview-top-indent);
    padding-bottom: var(--preview-bottom-indent);
}

.preview__box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--preview-gap-between-cards);

    max-width: var(--page-box-width);
    margin: 0 auto;
}


@media screen and (max-width: 1140px) {
    .preview {
        --preview-top-indent: 22px;
        --preview-gap-between-cards: 16px;
    }

    .preview__box {
        justify-content: center;
    }
}